body {
    background-color: #eedcca;
}

p {
    font-family: 'Georgia', serif;
}

#coffee-types {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.coffeeType {
    position: relative;
    display: inline-block;
    place-items: center;
}

#coffee-image {
    max-width: 65%;
    height: auto;
    border-radius: 30px 15px;
    border: 1px solid #c19e79;
    box-shadow: 0 6px 12px #604427;
    cursor: pointer;
    display: block;
    width: 100%;
}

#coffee-image:hover {
    transform: scale(1.05);
}

#overlay {
    max-width: 60%;
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 4px;
    font-size: 0.9em;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#information {
    max-width: 65%;
    height: auto;
    text-align: justify;
}

#back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6b4837;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

#back-button:hover {
    background-color: #6b3f3f;
    transform: scale(1.05);
}

#footer {
    text-align: center;
    border: 1px solid #6b4837;
    background-color: #6b4837;
    color: #fffbea;
    border-radius: 5px;
}

.main-header {
    background-color: #6b4837;
    color: #fffbea;
    text-align: center;
    padding: 2rem 1rem;
    font-family: 'Georgia', serif;
    border-radius: 5px;
}

.main-header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.main-header p {
    font-size: 1.2rem;
    font-weight: 300;
    color: #e0d7c7;
    font-style: italic;
}


@media (max-width: 1024px) {
    #coffee-types {
        grid-template-columns: 1fr 1fr;
    }
    #coffee-image{
        max-width: 70%;
    }

    #overlay{
        max-width: 60%;
    }

    .main-header h1 {
        font-size: 2rem;
    }
    .main-header p {
        font-size: 1.5rem;
    }

    .main-header{
        padding: 1.5rem 0.5rem;
    }
}

@media (max-width: 600px) {
    #coffee-types {
        grid-template-columns: 1fr;
    }

     #coffee-image{
        max-width: 70%;
    }

    #overlay{
        max-width: 60%;
    }

    .main-header h1 {
        font-size: 1.8rem;
    }

    .main-header p {
        font-size: 1.1rem;
    }

    #back-button {
        display: block;
        margin: 10px auto;
        padding: 12px 24px;
        font-size: 1.1em;
    }
}